.datebox-button td{
    text-align: center;
}
.datagrid-header-row {
    height: 26px;
}

.datagrid-header td, .datagrid-body td, .datagrid-footer td {
    border-style: solid;
}

.validatebox-invalid {
    background-color: white;
}


.heightWidth100-1{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px;
}
